<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>CRUD</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	<!-- Barra de navegacion -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
			<a class="navbar-brand" href="#"><strong>LOGO</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/home}">Inicio
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/views/clientes/}">Clientes</a></li>
				</ul>
			</div>
		</div>
		</nav>
	
	<!-- Mensajes -->
	<div class="alert alert-success alert-dismissable" th:if="${success != null}">
			<label th:text="${success}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
			<label th:text="${error}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-info alert-dismissable" th:if="${info != null}">
			<label th:text="${info}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	</header>
	<!-- Contenido -->
	<div class="container"></div>
	
	
	<!-- Pie de página -->
	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
	
		<div class="container">
			<p>Footer del proyecto ejemplo</p>
		</div>
		<script th:src="@{/js/bootstrap.min.js}"></script>

	</footer>
</body>
</html>